@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Georgia";
  font-size: 0.9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  font: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  scroll-behavior: smooth;
  background: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

[class*=-ibg_content] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*=-ibg_content] img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.button-primary,
.button-secondary {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.9375rem 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6.25rem;
  color: #292929;
  font-family: "Georgia";
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 0.3s ease 0s, border 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, border 0.3s ease 0s;
}

.button-primary {
  background-color: #f1cdb3;
}

.button-secondary {
  background-color: transparent;
  border: 0.125rem solid #f1cdb3;
}

.section-title {
  font-family: "Georgia";
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.card__link {
  width: 16.875rem;
  height: 27.1875rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 16.875rem 1fr;
  grid-template-rows: 16.875rem 1fr;
  border-radius: 0.5625rem;
  overflow: hidden;
  background-color: #fafafa;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card__image-ibg {
  width: 16.875rem;
  height: 16.875rem;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.875rem;
}

.card__title {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.card__link:hover .card__button {
  background-color: #fddcc4;
  border: 0.125rem solid #fddcc4;
}

.icon-menu {
  display: none;
}

.header {
  padding-top: 1.875rem;
  padding-bottom: 1.0625rem;
  color: #fff;
}

.html-home .header {
  position: absolute;
  width: 100%;
}

.html-pets .header {
  padding-bottom: 2rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1875rem;
}

.menu__link {
  display: inline-block;
  position: relative;
  font-family: "Arial";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 160%;
  color: #cdcdcd;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.html-pets .menu__link {
  color: #545454;
}

.html-home .menu__link_home,
.html-pets .menu__link_pets {
  color: #fafafa;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.html-home .menu__link_home::after,
.html-pets .menu__link_pets::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.1875rem;
  left: 0;
  bottom: -0.125rem;
  background: #f1cdb3;
}

.html-home .menu__link_home {
  color: #fafafa;
}

.html-pets .menu__link_pets {
  color: #292929;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.html-home .header-logo {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.header-logo__title {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.html-pets .header-logo__title {
  color: #545454;
}

.header-logo__subtitle {
  margin-left: 0.25rem;
  font-family: "Arial";
  font-weight: 400;
  font-size: 0.8125rem;
  letter-spacing: 0.1em;
  color: #fff;
}

.html-pets .header-logo__subtitle {
  color: #292929;
}

.no-webp .footer{
  background: url("../img/noise_transparent.png") repeat, radial-gradient(circle at left top, #513d2f 0%, #1a1a1c 100%), #211f20; }

.no-webp .footer__container{
  background: url("../img/footer-puppy.png") calc(100% - 2.5rem) bottom no-repeat; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  padding-top: 3.5625rem;
  padding-bottom: 2.3125rem;
}

.footer__contacts {
  max-width: 17.4375rem;
}

.footer__title {
  margin-bottom: 1.4375rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 2.1875rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #fff;
}

.footer__list {
  height: 8.875rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (4rem)[2];
  grid-template-rows: repeat(2, 4rem);
  gap: 0.5rem;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.footer__item > svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer__locations {
  max-width: 18.875rem;
}

.no-webp .promo{
  background: url("../img/noise_transparent.png") repeat, radial-gradient(circle at left top, #5b483a 0%, #262425 100%), #211f20; }

.promo {
  height: 56.75rem;
  padding-top: 5.625rem;
}

.no-webp .promo__container{
  background: url("../img/start-screen-puppy.png") calc(100% - 2.5rem) bottom no-repeat; }

.promo__container {
  height: 100%;
}

.promo__content {
  max-width: 28.75rem;
  padding-top: 15.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.625rem;
}

.promo__title {
  color: #fff;
  font-family: "Georgia";
  font-weight: 400;
  line-height: 130%;
}

.promo__text {
  color: #cdcdcd;
  font-size: 0.9375rem;
  font-family: "Arial";
  font-weight: 400;
  line-height: 160%;
}

.about {
  background-color: #fff;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26.875rem;
          flex: 0 1 26.875rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__title {
  max-width: 23.125rem;
  margin-bottom: 1.5625rem;
}

.about__text {
  display: inline-block;
  font-family: "Arial";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 160%;
  color: #4c4c4c;
}

.about__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.about__img-wrapper {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.html-home .pets {
  background-color: #f6f6f6;
}

.html-home .pets__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.html-home .pets__title {
  text-align: center;
}

.html-home .pets-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.html-home .pets-slider__wrapper {
  width: 100%;
  overflow: hidden;
}

.html-home .pets-slider__swiper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5.625rem;
     -moz-column-gap: 5.625rem;
          column-gap: 5.625rem;
}

.html-home .pets-slider__nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
}

.html-home .pets-slider__nav-button {
  width: 3.25rem;
  height: 3.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 0.125rem solid #f1cdb3;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.html-home .pets-slider__nav-button_next {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.html-home .pets-slider__nav-button > svg {
  color: #292929;
  width: 0.875rem;
  height: 0.375rem;
}

.help__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__title {
  text-align: center;
}

.help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help__item {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f1cdb3;
}

.help__item-name {
  font-family: "Georgia";
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.donation {
  background-color: #f6f6f6;
}

.donation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.donation__content {
  max-width: 23.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.donation__subtitle {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__credit-card {
  margin-top: -0.1875rem;
  padding: 0.625rem 0.9375rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  background-color: #f1cdb3;
  border-radius: 0.5625rem;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.donation__legal-info {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #b2b2b2;
}

.html-pets .pets {
  background-color: #f6f6f6;
}

.html-pets .pets__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.html-pets .pets__title {
  text-align: center;
}

.html-pets .pets__list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 16.875rem);
  grid-auto-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.875rem 2.5rem;
}

.html-pets .pets-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.html-pets .pets-pagination__button {
  width: 3.25rem;
  height: 3.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 0.125rem solid #f1cdb3;
  border-radius: 50%;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.html-pets .pets-pagination__button:disabled {
  color: #cdcdcd;
  border: 0.125rem solid #cdcdcd;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.html-pets .pets-pagination__button_page {
  background-color: #f1cdb3;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.page__about,
.page__pets,
.page__help,
.page__donation {
  padding: 0;
}

@media (min-width: 48em) {
  .section-title {
    font-size: 2.1875rem;
  }

  .footer__container {
    row-gap: 2.5rem;
  }

  .footer__title {
    font-size: 2.1875rem;
  }

  .promo__title {
    max-width: 19.375rem;
  }

  .promo__title {
    font-size: 2.75rem;
  }

  .about__container {
    row-gap: 5rem;
  }

  .about__img-wrapper {
    width: 18.75rem;
  }

  .html-home .pets__container {
    row-gap: 3.75rem;
  }

  .html-home .pets-slider__nav-button {
    position: absolute;
    top: 50%;
  }

  .html-home .pets-slider__nav-button_prev {
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .html-home .pets-slider__nav-button_next {
    right: 0;
    -webkit-transform: translateY(-50%) rotate(-180deg);
        -ms-transform: translateY(-50%) rotate(-180deg);
            transform: translateY(-50%) rotate(-180deg);
  }

  .help__container {
    row-gap: 3.75rem;
  }

  .help__list {
    row-gap: 3.4375rem;
  }

  .help__item {
    row-gap: 1.875rem;
  }

  .help__item svg {
    width: 3.75rem;
  }

  .help__item svg {
    height: 3.75rem;
  }

  .help__item-name {
    font-size: 1.25rem;
  }

  .donation__container {
    row-gap: 3.75rem;
  }

  .donation__img-wrapper img {
    width: 31.5625rem;
  }

  .donation__credit-card {
    font-size: 1.25rem;
  }

  .html-pets .pets-pagination {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .page__about,
  .page__pets,
  .page__help,
  .page__donation {
    padding-top: 5rem;
  }

  .page__about,
  .page__pets,
  .page__help,
  .page__donation {
    padding-bottom: 6.25rem;
  }
}

@media (min-width: 80em) {
  [class*=__container] {
    padding-left: 2.5rem;
  }

  [class*=__container] {
    padding-right: 2.5rem;
  }

  .footer__container {
    padding-top: 3.5625rem;
  }

  .footer__container {
    -webkit-column-gap: 10rem;
       -moz-column-gap: 10rem;
            column-gap: 10rem;
  }

  .about__container {
    -webkit-column-gap: 7.5rem;
       -moz-column-gap: 7.5rem;
            column-gap: 7.5rem;
  }

  .help__list {
    -webkit-column-gap: 7.5rem;
       -moz-column-gap: 7.5rem;
            column-gap: 7.5rem;
  }

  .html-pets .pets__title {
    margin-bottom: 3.75rem;
  }

  .html-pets .pets__list {
    margin-bottom: 3.75rem;
  }

  .html-pets .page__pets {
    padding-bottom: 6.25rem;
  }
}

@media (max-width: 75em) {
  .footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 75em) and (max-width: 20em) {
  .footer__container {
    padding-bottom: 18.75rem;
  }
}

@media (max-width: 48em) {
  .footer__container {
    padding-top: 1.875rem;
  }

  .footer__container {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .promo__content {
    max-width: 28.75rem;
    margin: 0 auto;
    padding-top: 3.75rem;
  }

  .promo__link {
    margin: 0 auto;
  }

  .about__container {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__content {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    max-width: 26.875rem;
  }

  .about__img-wrapper {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .donation__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .donation__img-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .html-pets .pets__list {
    max-height: 85.3125rem;
    overflow: hidden;
  }
}

@media (max-width: 48em) and (max-width: 20em) {
  .promo {
    height: 51.4375rem;
  }
}

@media (max-width: 20em) {
  [class*=__container] {
    padding-left: 1.25rem;
  }

  [class*=__container] {
    padding-right: 1.25rem;
  }

  [class*=__container_narrow] {
    padding-left: 0.625rem;
  }

  [class*=__container_narrow] {
    padding-right: 0.625rem;
  }

  .section-title {
    font-size: 1.5625rem;
  }

  .header__container {
    padding-left: 1.25rem;
  }

  .header__container {
    padding-right: 1.25rem;
  }

  .footer__container {
    row-gap: 1.0625rem;
  }

  .footer__title {
    font-size: 1.5625rem;
  }

  .footer__locations .footer__list {
    -ms-grid-rows: (4.5625rem)[2];
    grid-template-rows: repeat(2, 4.5625rem);
  }

  .promo__title {
    max-width: 13.125rem;
  }

  .promo__title {
    font-size: 1.5625rem;
  }

  .promo__title {
    letter-spacing: 0.06em;
  }

  .about__container {
    row-gap: 2.625rem;
  }

  .about__container {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }

  .about__content {
    max-width: 16.875rem;
  }

  .about__text:not(:last-child) {
    margin-bottom: 1.375rem;
  }

  .about__img-wrapper {
    width: 16.25rem;
  }

  .html-home .pets__container {
    row-gap: 2.625rem;
  }

  .help__container {
    row-gap: 2.625rem;
  }

  .help__list {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .help__list {
    row-gap: 1.875rem;
  }

  .help__list {
    max-width: 18.125rem;
  }

  .help__item {
    row-gap: 1.25rem;
  }

  .help__item svg {
    width: 3.125rem;
  }

  .help__item svg {
    height: 3.125rem;
  }

  .help__item-name {
    font-size: 0.9375rem;
  }

  .donation__container {
    row-gap: 2.625rem;
  }

  .donation__img-wrapper img {
    width: 16.25rem;
  }

  .donation__subtitle {
    letter-spacing: 0;
    text-align: center;
  }

  .donation__credit-card {
    font-size: 0.9375rem;
  }

  .donation__credit-card {
    margin-top: 0.3125rem;
  }

  .donation__legal-info {
    text-align: justify;
  }

  .html-pets .pets__title {
    margin-bottom: 2.625rem;
  }

  .html-pets .pets__list {
    margin-bottom: 2.625rem;
  }

  .html-pets .pets-pagination {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .page__about,
  .page__pets,
  .page__help,
  .page__donation {
    padding-top: 2.625rem;
  }

  .page__about,
  .page__pets,
  .page__help,
  .page__donation {
    padding-bottom: 2.625rem;
  }

  .html-pets .page__pets {
    padding-bottom: 2.625rem;
  }
}

@media (max-width: 79.99875em) {
  .html-home .pets-slider__wrapper {
    max-width: 36.25rem;
  }

  .html-home .pets-slider__swiper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}

@media (max-width: 58.75em) {
  .no-webp .footer__container{
    background: url("../img/footer-puppy.png") center bottom/300px no-repeat; }

  .no-webp .promo__container{
    background: url("../img/start-screen-puppy.png") calc(100% - 1.875rem) bottom/74% no-repeat; }
}

@media (max-width: 54.375em) and (max-width: 20em) {
  .help__item {
    width: 8.125rem;
  }
}

@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.375rem;
    cursor: pointer;
    z-index: 110;
  }

  .icon-menu span {
    display: block;
    width: 100%;
    height: 0.125rem;
    background-color: #f1cdb3;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 50%;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #f1cdb3;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }

  .icon-menu::before {
    top: 0rem;
  }

  .icon-menu::after {
    bottom: 0rem;
  }

  .menu-open .icon-menu {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .no-touch .icon-menu:hover span {
    background-color: #fddcc4;
  }

  .no-touch .icon-menu:hover::before,
  .no-touch .icon-menu:hover::after {
    background-color: #fddcc4;
  }

  .menu__body {
    display: none;
  }

  .no-webp .footer__container{
    background: url("../img/footer-puppy.png") center bottom/260px no-repeat; }

  .footer__title {
    max-width: 18.125rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .footer__title br {
    display: none;
  }

  .footer__contacts .footer__list {
    justify-items: center;
  }

  .no-webp .promo__container{
    background: url("../img/start-screen-puppy.png") calc(100% - 0.625rem) bottom/81.5% no-repeat; }

  .promo__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .promo__title {
    text-align: center;
  }

  .promo__text {
    text-align: center;
  }

  .about__title {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .about__text {
    text-align: justify;
  }

  .html-home .pets-slider {
    row-gap: 1.25rem;
  }

  .html-home .pets-slider__wrapper {
    max-width: 16.875rem;
  }

  .help__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .donation__title {
    text-align: center;
  }
}

@media (min-width: 48em) and (max-width: 80em) {
  [class*=__container] {
    padding-left: clamp( 1.875rem , 0.9375rem  +  1.953125vw , 2.5rem );
  }

  [class*=__container] {
    padding-right: clamp( 1.875rem , 0.9375rem  +  1.953125vw , 2.5rem );
  }

  .footer__container {
    padding-top: clamp( 1.875rem , -0.65625rem  +  5.2734375vw , 3.5625rem );
  }

  .footer__container {
    -webkit-column-gap: clamp( 3.75rem , -5.625rem  +  19.53125vw , 10rem );
       -moz-column-gap: clamp( 3.75rem , -5.625rem  +  19.53125vw , 10rem );
            column-gap: clamp( 3.75rem , -5.625rem  +  19.53125vw , 10rem );
  }

  .about__container {
    -webkit-column-gap: clamp( 1.875rem , -6.5625rem  +  17.578125vw , 7.5rem );
       -moz-column-gap: clamp( 1.875rem , -6.5625rem  +  17.578125vw , 7.5rem );
            column-gap: clamp( 1.875rem , -6.5625rem  +  17.578125vw , 7.5rem );
  }

  .help__list {
    -webkit-column-gap: clamp( 3.75rem , -1.875rem  +  11.71875vw , 7.5rem );
       -moz-column-gap: clamp( 3.75rem , -1.875rem  +  11.71875vw , 7.5rem );
            column-gap: clamp( 3.75rem , -1.875rem  +  11.71875vw , 7.5rem );
  }

  .html-pets .pets__title {
    margin-bottom: clamp( 1.875rem , -0.9375rem  +  5.859375vw , 3.75rem );
  }

  .html-pets .pets__list {
    margin-bottom: clamp( 2.5rem , 0.625rem  +  3.90625vw , 3.75rem );
  }

  .html-pets .page__pets {
    padding-bottom: clamp( 4.75rem , 2.5rem  +  4.6875vw , 6.25rem );
  }
}

@media (min-width: 20em) and (max-width: 48em) {
  [class*=__container] {
    padding-left: clamp( 1.25rem , 0.8035714286rem  +  2.2321428571vw , 1.875rem );
  }

  [class*=__container] {
    padding-right: clamp( 1.25rem , 0.8035714286rem  +  2.2321428571vw , 1.875rem );
  }

  [class*=__container_narrow] {
    padding-left: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem );
  }

  [class*=__container_narrow] {
    padding-right: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem );
  }

  .section-title {
    font-size: clamp( 1.5625rem , 1.1160714286rem  +  2.2321428571vw , 2.1875rem );
  }

  .header__container {
    padding-left: clamp( 1.25rem , 0.8035714286rem  +  2.2321428571vw , 1.875rem );
  }

  .header__container {
    padding-right: clamp( 1.25rem , 0.8035714286rem  +  2.2321428571vw , 1.875rem );
  }

  .footer__container {
    row-gap: clamp( 1.0625rem , 0.0357142857rem  +  5.1339285714vw , 2.5rem );
  }

  .footer__title {
    font-size: clamp( 1.5625rem , 1.1160714286rem  +  2.2321428571vw , 2.1875rem );
  }

  .promo__title {
    max-width: clamp( 13.125rem , 8.6607142857rem  +  22.3214285714vw , 19.375rem );
  }

  .promo__title {
    font-size: clamp( 1.5625rem , 0.7142857143rem  +  4.2410714286vw , 2.75rem );
  }

  .about__container {
    row-gap: clamp( 2.625rem , 0.9285714286rem  +  8.4821428571vw , 5rem );
  }

  .about__img-wrapper {
    width: clamp( 16.25rem , 14.4642857143rem  +  8.9285714286vw , 18.75rem );
  }

  .html-home .pets__container {
    row-gap: clamp( 2.625rem , 1.8214285714rem  +  4.0178571429vw , 3.75rem );
  }

  .help__container {
    row-gap: clamp( 2.625rem , 1.8214285714rem  +  4.0178571429vw , 3.75rem );
  }

  .help__list {
    -webkit-column-gap: clamp( 1.875rem , 0.5357142857rem  +  6.6964285714vw , 3.75rem );
       -moz-column-gap: clamp( 1.875rem , 0.5357142857rem  +  6.6964285714vw , 3.75rem );
            column-gap: clamp( 1.875rem , 0.5357142857rem  +  6.6964285714vw , 3.75rem );
  }

  .help__list {
    row-gap: clamp( 1.875rem , 0.7589285714rem  +  5.5803571429vw , 3.4375rem );
  }

  .help__item {
    row-gap: clamp( 1.25rem , 0.8035714286rem  +  2.2321428571vw , 1.875rem );
  }

  .help__item svg {
    width: clamp( 3.125rem , 2.6785714286rem  +  2.2321428571vw , 3.75rem );
  }

  .help__item svg {
    height: clamp( 3.125rem , 2.6785714286rem  +  2.2321428571vw , 3.75rem );
  }

  .help__item-name {
    font-size: clamp( 0.9375rem , 0.7142857143rem  +  1.1160714286vw , 1.25rem );
  }

  .donation__container {
    row-gap: clamp( 2.625rem , 1.8214285714rem  +  4.0178571429vw , 3.75rem );
  }

  .donation__img-wrapper img {
    width: clamp( 16.25rem , 5.3125rem  +  54.6875vw , 31.5625rem );
  }

  .donation__credit-card {
    font-size: clamp( 0.9375rem , 0.7142857143rem  +  1.1160714286vw , 1.25rem );
  }

  .html-pets .pets__title {
    margin-bottom: clamp( 1.875rem , 3.1607142857rem  +  -2.6785714286vw , 2.625rem );
  }

  .html-pets .pets__list {
    margin-bottom: clamp( 2.5rem , 2.7142857143rem  +  -0.4464285714vw , 2.625rem );
  }

  .html-pets .pets-pagination {
    -webkit-column-gap: clamp( 0.625rem , 0.1785714286rem  +  2.2321428571vw , 1.25rem );
       -moz-column-gap: clamp( 0.625rem , 0.1785714286rem  +  2.2321428571vw , 1.25rem );
            column-gap: clamp( 0.625rem , 0.1785714286rem  +  2.2321428571vw , 1.25rem );
  }

  .page__about,
  .page__pets,
  .page__help,
  .page__donation {
    padding-top: clamp( 2.625rem , 0.9285714286rem  +  8.4821428571vw , 5rem );
  }

  .page__about,
  .page__pets,
  .page__help,
  .page__donation {
    padding-bottom: clamp( 2.625rem , 0.0357142857rem  +  12.9464285714vw , 6.25rem );
  }

  .html-pets .page__pets {
    padding-bottom: clamp( 2.625rem , 1.1071428571rem  +  7.5892857143vw , 4.75rem );
  }
}

@media (max-width: 75em) and (min-width: 48em) {
  .footer__container {
    padding-bottom: 22.0625rem;
  }
}

@media (max-width: 75em) and (min-width: 20em) and (max-width: 48em) {
  .footer__container {
    padding-bottom: clamp( 18.75rem , 16.3839285714rem  +  11.8303571429vw , 22.0625rem );
  }
}

@media (max-width: 48em) and (min-width: 48em) {
  .promo {
    height: 72.8125rem;
  }
}

@media (max-width: 48em) and (min-width: 20em) and (max-width: 48em) {
  .promo {
    height: clamp( 51.4375rem , 36.1696428571rem  +  76.3392857143vw , 72.8125rem );
  }
}

@media (max-width: 54.375em) and (min-width: 48em) {
  .help__item {
    width: 10.625rem;
  }
}

@media (max-width: 54.375em) and (min-width: 20em) and (max-width: 48em) {
  .help__item {
    width: clamp( 8.125rem , 6.3392857143rem  +  8.9285714286vw , 10.625rem );
  }
}

@media (any-hover: hover) {
  .button-primary:hover,
  .button-secondary:hover {
    background-color: #fddcc4;
  }

  .button-secondary:hover {
    border: 0.125rem solid #fddcc4;
  }

  .card__link:hover {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
            box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  }

  .menu__link:hover {
    color: #fafafa;
  }

  .html-pets .menu__link:hover {
    color: #292929;
  }

  .header-logo:hover {
    opacity: 0.7;
  }

  .footer__link:hover {
    text-decoration: underline;
  }

  .html-home .pets-slider__nav-button:hover {
    border: 0.125rem solid #fddcc4;
    background-color: #fddcc4;
  }

  .donation__credit-card:hover {
    background-color: #fddcc4;
  }

  .html-pets .pets-pagination__button:hover:not(.pets-pagination__button_page),
  .html-pets .pets-pagination__button:hover:not(:disabled) {
    background-color: #fddcc4;
    border: 0.125rem solid #fddcc4;
  }
}

.webp .footer{ background: url(../img/noise_transparent.webp) repeat, radial-gradient(circle at left top, #513d2f 0%, #1a1a1c 100%), #211f20; }

.webp .footer__container{ background: url(../img/footer-puppy.webp) calc(100% - 2.5rem) bottom no-repeat; }

.webp .promo{ background: url(../img/noise_transparent.webp) repeat, radial-gradient(circle at left top, #5b483a 0%, #262425 100%), #211f20; }

.webp .promo__container{ background: url(../img/start-screen-puppy.webp) calc(100% - 2.5rem) bottom no-repeat; }

@media (max-width: 58.75em){

  .webp .footer__container{ background: url(../img/footer-puppy.webp) center bottom/300px no-repeat; }
}

@media (max-width: 58.75em){

  .webp .promo__container{ background: url(../img/start-screen-puppy.webp) calc(100% - 1.875rem) bottom/74% no-repeat; }
}

@media (max-width: 47.99875em){

  .webp .footer__container{ background: url(../img/footer-puppy.webp) center bottom/260px no-repeat; }
}

@media (max-width: 47.99875em){

  .webp .promo__container{ background: url(../img/start-screen-puppy.webp) calc(100% - 0.625rem) bottom/81.5% no-repeat; }
}