@font-face {
	font-family: 'Arial';
	font-display: swap;
	src: url('../fonts/Arial-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Arial';
	font-display: swap;
	src: url('../fonts/Arial-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Georgia';
	font-display: swap;
	src: url('../fonts/Georgia-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Georgia';
	font-display: swap;
	src: url('../fonts/Georgia-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
