.promo {
  height: rem(908);
  padding-top: rem(90);
  background:
    url('@img/noise_transparent.png') repeat,
    radial-gradient(circle at left top, #5b483a 0%, #262425 100%),
    $gradientBackground;

  // .promo__container
  &__container {
    height: 100%;
    background: url('@img/start-screen-puppy.png') calc(100% - rem(40)) bottom no-repeat;
  }
  // .promo__title
  &__title {
    max-width: rem(310);
    margin-bottom: rem(42);
    padding-top: rem(253);
    color: $colorLightXL;
    font-size: rem(44);
    font-family: $fontFamily;
    font-weight: 400;
    line-height: 130%;
  }
  // .promo__text
  &__text {
    max-width: rem(460);
    margin-bottom: rem(42);
    color: $colorDarkS;
    font-size: rem(15);
    font-family: $fontSecondary;
    font-weight: 400;
    line-height: 160%;
  }
  // .promo__link
  &__link {
  }
}

//====================================================================

.about {
  background-color: $colorLightXL;
  // .about__container
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(120);
  }
  // .about__content
  &__content {
    display: inline-flex;
    flex-direction: column;
    gap: rem(25);
  }
  // .about__title
  &__title {
    max-width: rem(370);
  }
  // .about__text
  &__text {
    max-width: rem(430);
    font-family: $fontSecondary;
    font-weight: 400;
    font-size: rem(15);
    line-height: 160%;
    color: $colorDarkXL;
  }
  // .about__img-wrapper
  &__img-wrapper {
    order: -1;
    display: flex;
    justify-content: center;
  }
  // .about__img
  &__img {
  }
}

//====================================================================

.pets {
  background-color: $colorLightL;

  // .pets__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(60);
  }
  // .pets__title
  &__title {
    text-align: center;
  }
  // .pets__slider
  &__slider {
  }
  // .pets__link
  &__link {
  }
}
.pets-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  // .pets-slider__wrapper
  &__wrapper {
  }
  // .pets-slider__swiper
  &__swiper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: rem(90);
  }
  // .pets-slider__slide
  &__slide {
  }
  // .pets-slider__nav-button
  &__nav-button {
    position: absolute;
    width: rem(52);
    height: rem(52);
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: rem(2) solid $colorPrimary;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        border: rem(2) solid $colorPrimaryLight;
        background-color: $colorPrimaryLight;
      }
    }

    & > svg {
      color: $colorDark3XL;
      width: rem(14);
      height: rem(6);
    }

    // .pets-slider__nav-button_prev
    &_prev {
      left: 0;
      transform: translateY(calc(-50%));
    }
    // .pets-slider__nav-button_next
    &_next {
      right: 0;
      transform: translateY(calc(-50%)) rotate(-180deg);
    }
  }
}
.pets-slide {
  border-radius: rem(9);
  overflow: hidden;
  background-color: $colorLightS;

  // .pets-slide_active
  &_active {
  }
  // .pets-slide__link
  &__link {
    width: rem(270);
    height: rem(435);
    display: grid;
    grid-template-rows: rem(270) 1fr;
    cursor: pointer;
  }
  // .pets-slide__image-ibg
  &__image-ibg {
    width: rem(270);
    height: rem(270);
  }
  // .pets-slide__content
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: rem(30);
  }
  // .pets-slide__title
  &__title {
    font-family: $fontFamily;
    font-weight: 400;
    font-size: rem(20);
    letter-spacing: 0.06em;
    color: $colorDarkL;
  }
  // .pets-slide__button
  &__button {
  }
}

//====================================================================

.help {
  // .help__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(60);
  }
  // .help__title
  &__title {
    text-align: center;
  }
  // .help__list
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(55) rem(120);
  }
  // .help__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(30);
    color: $colorPrimary;
  }
  // .help__item-name
  &__item-name {
    font-family: $fontFamily;
    font-weight: 400;
    font-size: rem(20);
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: $colorDarkL;
  }
}

//====================================================================

.donation {
  background-color: $colorLightL;

  // .donation__container
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(30);
  }
  // .donation__img-wrapper
  &__img-wrapper {
  }
  // .donation__content
  &__content {
    max-width: rem(380);
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }
  // .donation__title
  &__title {
  }
  // .donation__subtitle
  &__subtitle {
    font-family: $fontFamily;
    font-weight: 400;
    font-size: rem(15);
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $colorDarkL;
  }
  // .donation__credit-card
  &__credit-card {
    padding: rem(10) rem(15);
    width: max-content;
    display: flex;
    align-items: center;
    gap: rem(15);
    font-family: $fontFamily;
    font-weight: 400;
    font-size: rem(20);
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $colorDarkL;
    background-color: $colorPrimary;
    border-radius: rem(9);
  }
  // .donation__legal-info
  &__legal-info {
    font-family: $fontSecondary;
    font-style: italic;
    font-weight: 400;
    font-size: rem(12);
    line-height: 150%;
    color: $colorDarkM;
  }
}
.section-title {
}
