.promo {
  height: rem(908);
  padding-top: rem(90);
  background:
    url('@img/start-screen-puppy.png') right bottom no-repeat,
    url('@img/noise_transparent.png') repeat,
    // radial-gradient(at left top, #5b483a 0%, #262425 100%),
    radial-gradient(237.5% 111.8% at 0% 0%, #5b483a 0%, #262425 100%),
    $gradientBackground;

  // .promo__container
  &__container {
    display: flex;
    flex-direction: column;
    gap: rem(42);
    padding-top: rem(253);
  }
  // .promo__title
  &__title {
    max-width: rem(310);
    color: $colorLightXL;
    font-size: rem(44);
    font-family: $fontMain;
    font-weight: 400;
    line-height: rem(57);
  }
  // .promo__text
  &__text {
    max-width: rem(460);
    color: $colorDarkS;
    font-size: rem(15);
    font-family: $fontSecondary;
    font-weight: 400;
    line-height: rem(24);
  }
  // .promo__link
  &__link {
  }
}
