.html-pets {
  & .pets {
    background-color: $colorLightL;

    // .pets__container
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    // .pets__title
    &__title {
      text-align: center;
      @include adaptiveValue('margin-bottom', 60, 30, $containerWidth, 768, 2);
      @include adaptiveValue('margin-bottom', 30, 42, 768, 320);
    }
    // .pets__list
    &__list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, rem(270));
      grid-auto-rows: 1fr;
      justify-content: center;
      gap: rem(30) rem(40);

      @include adaptiveValue('margin-bottom', 60, 40, $containerWidth, 768, 2);
      @include adaptiveValue('margin-bottom', 40, 42, 768, 320);

      @media (max-width: em(768)) {
        max-height: rem(1365);
        overflow: hidden;
      }
    }
    // .pets__item
    &__item {
    }
    // .pets__pagination
    &__pagination {
    }
  }

  & .pets-pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    @include adaptiveValue('column-gap', 20, 10, 768, 320, 1);

    // .pets-pagination__button
    &__button {
      width: rem(52);
      height: rem(52);
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      border: rem(2) solid $colorPrimary;
      border-radius: 50%;
      font-family: $fontFamily;
      font-weight: 400;
      font-size: rem(20);
      line-height: 115%;
      letter-spacing: 0.06em;
      text-align: center;
      color: $colorDark3XL;
      transition: all 0.3s ease 0s;

      &:disabled {
        color: $colorDarkS;
        border: rem(2) solid $colorDarkS;
        cursor: default;
        user-select: none;
        pointer-events: none;
      }

      @media (any-hover: hover) {
        &:hover:not(.pets-pagination__button_page),
        &:hover:not(:disabled) {
          background-color: $colorPrimaryLight;
          border: rem(2) solid $colorPrimaryLight;
        }
      }

      // .pets-pagination__button_first
      &_first {
      }
      // .pets-pagination__button_prev
      &_prev {
      }
      // .pets-pagination__button_page
      &_page {
        background-color: $colorPrimary;
        cursor: default;
        user-select: none;
        pointer-events: none;
      }
      // .pets-pagination__button_next
      &_next {
      }
      // .pets-pagination__button_last
      &_last {
      }
    }
  }
}
